<div class="row">
  <div class="col-md-12">
    <div class="detail-article">
      <h2><%= @article.title %></h2>
      <p><%= sanitize(@article.description) %></p>
      <% if @article.categories.any? %>
        <p><strong>Categories: </strong> <%= render @article.categories %></p>
      <% end %>
      <% if logged_in? && ( current_user == @article.user || current_user.admin? ) %>
        <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-primary" %>
        <%= link_to 'Remove', article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      <% end %>
      <%= link_to 'All Articles', articles_path, class: "btn btn-success" %>
    </div>
  </div>
</div>

