<h2 class="text-center">Authors</h2>
<h5 class="text-center">Thank you to everyone who has contributed knowledge to Viet's Blog <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>.</h5>
<div align="center">

  <ul class="listing-user">
    <div class="row">
      <% @users.each do |user| %>
      <div class="col-md-4 col-md-offset-4 well">
        <li><%= link_to gravatar_for(user), user_path(user) %></li>
        <li><h3><%= link_to user.username, user_path(user) %></h3></li>
        <li><p><%= user.email %></p></li>
        <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
      </div>
    </div>
    <% end %>
  </ul>
</div>

<div align="center">
  <%= will_paginate %>
</div>
