<h2 class="text-center"><%= "All  " + @category.name + "'s Articles" %></h2>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% @category_articles.each do |article| %>
      <div class="well">
        <h4><%= article.title %></h4>
        <p id="more-info">Created at: <%= time_ago_in_words(article.created_at) %> ago</p>
        <p><%= truncate sanitize(article.description, tags: [], attributes: []), length: 50 %></p>
        <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
          <%= link_to 'Edit', edit_article_path(article), class: "btn btn-primary" %>
          <%= link_to 'Remove', article_path(article), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div align="center">
  <%= will_paginate @category_articles %>
</div>
